<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Creation">
		<classes>
			<class name="AutomatedScriptOfJaleh01AsPOM.TC_CreateRecipe" />
			<class
				name="AutomatedScriptOfJaleh01AsPOM.TC_DownloadAllRecipe" />
			<class
				name="AutomatedScriptOfJaleh01AsPOM.TC_CreateTemplateMenu" />
			<class
				name="AutomatedScriptOfJaleh01AsPOM.TC_ReportsTemplateMenu" />
			<class
				name="AutomatedScriptOfJaleh01AsPOM.TC_CreateProductionMenu" />

			<class
				name="AutomatedScriptOfJaleh01AsPOM.TC_ReportsProductionMenu" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
